<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="/lend">Lend</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registration">registration</a></li>   
                <li><a href="">Why?</a></li>
                <li><a href="">Books</a></li>
                <li><a href="/receiver">receiver</a></li>
            </ul>
        </nav>
    </header>
    <article>
        
             <div class="intro">
                 <h1>
                     Welcome to my Bookpage for Walldorf 
                 </h1>
             </div>
             <div class="container">
                 {%for record in records%}
                <div class="books">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/Book.jfif" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{record[0]}}</h5>
                          <p class="card-text">{{record[1]}}</p>
                          <p class="card-text">{{record[2]}}</p>
                          <p class="card-text">{{record[3]}}</p>
                        </div>
                      </div>
                </div>
               {%endfor%}
      
            </div>
    </article>

</body>
</html>