<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/lend">Lend</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registration">registration</a></li>
                <li><a href="">Why?</a></li>
                <li><a href="">Books</a></li>
                <li><a href="/receiver">receiver</a></li>
            </ul>
        </nav>
    </header>
    <h1>{{message}}</h1>
    <form action="" method="post">
        Adress
        <input type="text" name="adress" id="">
        Email
        <input type="email" name="email" id="">
        Phone number 
        <input type="tel" name="tel" id="">
        Password
        <input type="password" name="password" id="">
        <button type="submit">
        Submit
        </button>
    
    </form>
</body>
</html>